/* Remove margens padrão do navegador */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Corpo da página */
body{
    background-color: #67F27C;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }

/* Caixa principal */
.container{
    width: 80%;
    margin: 50px auto;
    padding: 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.voltar{
    position: absolute;
    top: 30px;
    left: 50px;

    font-size: 24px;
    font-weight: bold;
    color: black;
}

.texto{
    width: 660px;
}

.texto h1{
    font-size: 50px;
    font-family: "Kaushan Script", cursive;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 20px;
}

.texto p{
    font-size: 28px;
    margin-bottom: 20px;
    line-height: 1.5;
    font-style: italic;
}

.imagem{
    width: 400px;
    height: 400px;
    background-color: #BDF8AE;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagem img{
    width: 80%;
    border-radius: 20px;
}
